<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hzit.dao.mapper.DingdanxxMapper">

    <sql id="orderBaseColumnSql">
        OrderId,
        MyOrderId,
        BookId,
        OrderNumber,
        OrderPrice
    </sql>

    <sql id="orderBaseWhereSql">
        <if test="map!=null">
            <where>
                <if test="map.orderId!=null">
                    OrderId = #{map.orderId}
                </if>
                <if test="map.myOrderId!=null">
                    AND MyOrderId = #{map.myOrderId}
                </if>
                <if test="map.bookId!=null">
                    AND BookId = #{map.bookId}
                </if>
                <if test="map.orderNumber!=null">
                    AND OrderNumber = #{map.orderNumber}
                </if>
                <if test="map.orderPrice!=null">
                    AND OrderPrice = #{map.orderPrice}
                </if>
            </where>
        </if>
    </sql>

    <insert id="insertOrder" parameterType="com.hzit.dao.entity.Dingdanxx">
        INSERT INTO Dingdanxx(
        <include refid="orderBaseColumnSql"/>
        )VALUES(
            #{orderId},
            #{myOrderId},
            #{bookId},
            #{orderNumber},
            #{orderPrice}
        )
    </insert>

    
    <delete id="deleteOrderByOrderId" parameterType="Integer">
        DELETE FROM Dingdanxx WHERE OrderId = #{orderId}
    </delete>

    <update id="updateOrder" parameterType="com.hzit.dao.entity.Dingdanxx">
        UPDATE Dingdanxx
        <set>
            <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(myOrderId)">
                MyOrderId = #{myOrderId} ,
            </if>
            <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(bookId)">
                BookId = #{bookId} ,
            </if>
            <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(orderNumber)">
                OrderNumber = #{orderNumber} ,
            </if>
            <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(orderPrice)">
                OrderPrice = #{orderPrice} ,
            </if>
        </set>
        WHERE OrderId = #{orderId}
    </update>

    <select id="searchOrderByParams" parameterType="map" resultMap="orderMap">
        SELECT d.OrderId,m.MyOrderId,b.BookImage,b.BookName,d.OrderNumber,d.OrderPrice
        FROM dingdanxx d JOIN myorder m ON d.MyOrderId=m.MyOrderId
        JOIN book b ON d.BookId=b.BookId
        <include refid="orderBaseWhereSql"/>
    </select>

    <resultMap type="com.hzit.dao.entity.Dingdanxx" id="orderMap">
        <id column="OrderId" property="orderId"/>
        <result column="MyOrderId" property="myOrderId"/>
        <result column="BookId" property="bookId"/>
        <result column="OrderNumber" property="orderNumber"/>
        <result column="OrderPrice" property="orderPrice"/>
    </resultMap>

</mapper>
